@tailwind base;
@tailwind components;
@tailwind utilities;

.slider-container {
  @apply flex flex-col sm:flex-row  justify-around items-center  mt-8;
}
.slider-container > img {
  @apply w-1/3 h-1/3 ml-8 border-2 border-gray-600 rounded-lg;
}
.slider-container > div {
  @apply text-slate-100 leading-relaxed  text-2xl ml-12 mr-8;
}

.slider-container p:first-of-type {
  @apply text-cyan-500  text-3xl;
}
